/* _rwd.scss */
@media screen and (max-width: 960px) {
  html, body {
    font-size: 50%;

    /* global overrides */
    .content {
      width: 100vw !important;
    }
    .separator, .separator--dark, .separator--light {
      width: 100vw;
      background-size: 100vw auto;
      margin: 20px auto;
      height: 30px;
    }
    /* global overrides end */
  }
  .top-menu--rwd {
    transform: translate(0, -240px);
  }
  .top-menu--hidden {
    transform: translate(0, -290px);
  }
  #top-menu:hover {
    transform: translate(0, -0px);
  }
  #top-menu {
    display: block;
    width: 100vw;
    height: auto;
    padding-bottom: 60px;
    #navigation {
      border-bottom: solid 1px #3a3a3a;
      display: block;
      width: 90%;
      text-align: center;
      padding-bottom: 50px;
      margin-bottom: 15px;
      margin-left: 5%;
    }
    .search-header--wrapper {
      line-height: 3rem;
      height: 3rem;
      width: 250px;
      left: 50%;
      top: 100%;
      margin-top: -125px;
      margin-left: -125px;
      form {
        div {
          input {
            font-size: 3rem !important;
          }
        }
      }
    }
  }
  #main {
    #header {
      .header-bit {
        margin-top: -140px;
        h2 {
          font-size: 8.5rem;
        }
        img {
        }
      }
    }
    #header_small {
      background-size: auto 400px !important;
      background-position: top !important;
    }
    #blog {
      width: 100%;
      margin: auto;
      margin-bottom: 0;
      .blog-post--wrapper {
        width: 100%;
        .blog-post--header {
          height: 100px;
          ul {
            li {
              padding-right: 0;
            }
          }
        }
        .blog-post--image {
          img {
            height: 275px;
            width: auto;
          }
        }
        .blog-post--content {
          padding: 20px;
          .author {
            margin-bottom: 20px;
            p {
              span {
                padding-left: 10px;
              }
            }
          }
        }
        #comments {
          width: 100%;
          .comment-list {
            li {
              article {
                .comment-meta {
                  height: 50px;
                  .comment-author {
                    img {
                      top: 9px;
                      left: -35px;
                    }
                  }
                }
              }
            }
          }
          #respond {
            form {
              p:first-of-type {
                margin-left: 10px;
              }
              p {
                margin-left: 10px;
              }
              .comment-form-comment {
                margin-left: 1.5%;
                textarea {
                  width: 98.5%;
                }
              }
              .form-submit {
                input {
                  margin-left: -5px;
                }
              }
            }
          }
        }
      }
      .sidebar--wrapper {
        display: none;
      }
    }
    #overview {
      background-color: #fff;
      position: relative;
      height: 1400px;
      width: 100%;
      margin: auto;
      padding-bottom: 0px;
      .skyline {
        position: absolute;
        margin-left: -160px;
        max-width: 320px;
        h3 {
          margin: 0px 20px 0px 20px;
          border-bottom: 1px solid #dbdbdb;
          padding-bottom: 30px;
        }
        img {
          margin-top: -116px;
          width: 320px;
        }
      }
      .introduction {
        padding-top: 350px;
        .people {
          width: 100vw;
          height: 150px;
          margin: 100px auto;
          display: block;
          .person {
            width: 150px;
            margin: 80px auto;
            .person-under {
              h4 {
                padding-top: 25px;
              }
            }
            .person-cover {
              left: 0;
              margin-left: 2.5vw;
              width: 95vw;
              height: 750px;
              .person-cover--photo {
                left: 50%;
                top: 100px;
                height: 150px;
                margin-left: -87.5px;
                background: #352f2f;
                img {
                  left: 0;
                }
              }
              .person-cover--description {
                position: initial;
                padding: 200px 0;
                left: 0;
                height: auto;
                width: 80%;
                margin: 0 auto;
                h4 {
                  height: 50px;
                }
                p {
                  font-size: 2rem;
                  line-height: 2.5rem;
                  height: 160px;

                }
              }
            }
          }
        }
      }
    }
    #quotation {
      color: #fff;
      .content {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -3rem;
        margin-left: 0;
        padding: 0 15px;
      }
    }
    #topics {
      background-color: #fff;
      .content {
        h2 {
          padding-top: 100px;
        }
        .blocks {
          margin: 50px 0;
          .block {
            position: relative;
            width: 320px;
            height: 150px;
            margin: 20px auto;
            border: solid 1.5px #ddd;
            .text {
              width: auto;
              padding: 0px;
              margin: auto;
              p {
                line-height: 1.6rem;
              }
            }
          }
          .cover {
            position: absolute;
            top: -1.5%;
            left: -1.5%;
            width: 103%;
            height: 103%;
            margin: 0;
            pointer-events: none;
            background-color: #fff;
            background-size: 100% auto !important;
            background-position: center !important;
            background-color: #fff !important;
          }
          .society {
            background: none;
          }
          .travel {
            background: none;
          }
          .critique {
            background: none;
          }
        }
      }
    }
  #latest-posts {
    .latest-mid {
      .slick-slider {
        .slick-list {
          .slick-track {
            .slick-slider--element {
              .cover {
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
    .latest-bottom {
      .latest-bottom--inside {
        .content {
          background-color: rgba(0, 0, 0, 0.4);
          .quote {
            width: 100%;
            background-position: 55px 95px;
            }
          }
        }
      }
    }
  }
}
/* _rwd.scss end */
